@model dynamic

@section feature
   {
    <div class="bg-dark">
        <div class="container flex">
            <div class="content">
                <h2>Twórz i zarządzaj</h2>
                <h3>Zanotuj.to jest największą bazą notatek, którą przeszukasz w intuicyjny sposób, łatwo powiększysz o kolejne i udostępnisz innym.</h3>
                <form>
                    <div class="selectize form-group form-inline">
                        <input placeholder="Podaj frazę albo #hasztag lub &#64;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div class="main container">
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Nullam suscipit felis purus, a pellentesque dui vulputate id. Ut ut luctus ante. Duis vestibulum vitae justo vitae eleifend...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu. Interdum et malesuada...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">ligula eget ultrices. Duis vestibulum vitae justo vitae eleifend. Quisque congue quam vel ipsum pulvinar, et imperdiet sem sagittis...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu. Interdum et malesuada...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
    <div class="note">
        <div class="date">12.03.2016</div>
        <h1>Ewolucja Darwina według Kanta</h1>
        <div class="content">ligula eget ultrices. Duis vestibulum vitae justo vitae eleifend. Quisque congue quam vel ipsum pulvinar, et imperdiet sem sagittis...</div>
        <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
        <div class="meta">
            <div class="hashtag">#</div>filozofia, biologia, wtf
        </div>
    </div>
</div>
