@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zanotuj.to</title>
    <script src="~/bower_components/pgs-bootstrap-theme/dist/scripts.js"></script>
    <link rel="stylesheet" href="~/bower_components/pgs-bootstrap-theme/dist/styles.css">
    <link rel="stylesheet" href="~/Content/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><img src="~/Assets/logo.png" alt="Zanotuj.to"> Zanotuj.to</h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-primary">Dodaj notatkę</button>
                    </li>
                    <li><a href="#login"><i class="icon-profile"></i> Logowanie</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="bg-dark">
        <div class="container flex">
            <div class="content">
                <h2>Twórz i zarządzaj</h2>
                <h3>Zanotuj.to jest największą bazą notatek, którą przeszukasz w intuicyjny sposób, łatwo powiększysz o kolejne i udostępnisz innym.</h3>
                <form>
                    <div class="selectize form-group form-inline">
                        <input placeholder="Podaj frazę albo #hasztag lub &#64;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="main container">
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Nullam suscipit felis purus, a pellentesque dui vulputate id. Ut ut luctus ante. Duis vestibulum vitae justo vitae eleifend...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu. Interdum et malesuada...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">ligula eget ultrices. Duis vestibulum vitae justo vitae eleifend. Quisque congue quam vel ipsum pulvinar, et imperdiet sem sagittis...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu. Interdum et malesuada...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut pulvinar arcu...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
        <div class="note">
            <div class="date">12.03.2016</div>
            <h1>Ewolucja Darwina według Kanta</h1>
            <div class="content">ligula eget ultrices. Duis vestibulum vitae justo vitae eleifend. Quisque congue quam vel ipsum pulvinar, et imperdiet sem sagittis...</div>
            <div class="author"><img class="avatar" src="~/Assets/avatar.jpg">@@janekKa</div>
            <div class="meta">
                <div class="hashtag">#</div>filozofia, biologia, wtf
            </div>
        </div>
    </div>
    <footer>
        <div class="container">&copy; 2016 zanotuj.to</div>
    </footer>
</body>

</html>